@media (max-width: 1300px){
    .wrapper .content .right{
        display: none;
    }

    .wrapper .content .left{
        align-items: center;
    }
    
    .wrapper .content .left{
        padding: 3%;
        width: 100%;
    }

    .wrapper .content .left p{
        width: 100%;
    }

    .wrapper-violet footer{
        padding: 3%;
    }
}


@media screen and (max-width: 768px) {
    .wrapper .cabecalho {
        align-items: center;
    }

    .wrapper .cabecalho .btn2-header{
        display: none;
    }

    #btn-menu{
        display: block;
    }


    .wrapper .cabecalho .navegation .nav-list {
        gap: 20px;
        display: none;
        
    }

    .wrapper .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .wrapper .content .left .btn a{
        font-size: 1.4em;
        font-weight: bold;
    }

    .wrapper .content .left h1{
        font-size: 3em;
    }

    .wrapper .content .left p {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .wrapper .content .right .celular {
        display: none;
    }

    /* conteudo wrapper gray */
    .wrapper-gray .cards-easybank{
        padding: 5%;
    }

    .wrapper-white .wrap-cards{
        padding: 2%;
        text-align: center;
    }


    .wrapper-gray .cards-easybank .cards-bank{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        
    }

    .wrapper-violet footer{
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px) 40%;
        width: 100%;
        gap: 20px;
        height: auto;
        place-items: center;
        padding: 2%;
        width: 100%
    }
}

@media screen and (max-width: 468px){
    .wrapper-gray .cards-easybank .cards-bank{
        grid-template-columns: 1fr;
    }

    .wrapper-violet footer{
        grid-template-columns: 1fr 1fr;
    }
}